  <div>
<h1>Welcome</h1>
</div>

<div>
  <h3>Please access for further options</h3>
</div>

<%# <%= form_tag("/api/search", {:method => 'get'}) do %>
    <%# <%= text_field_tag(:search, params[:search]) %>
    <%# <%= submit_tag('Search', :name => nil) %>
<%# <% end %> 
