<h3>Welcome <%= current_user.username %></h3>

<h2>Find shipment with your tracking number </h2>
<% if current_user %>
  <%= form_tag(search_regular_shipments_path, {:method => "get"}) do %>
    <%= text_field_tag :search_tracking_id, params[:search_tracking_id], placeholder: "Find by Track Code " %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
<% else %>
  <div>
    <h3>not found</h3>
  </div>
<% end %>
<br/>


